In [5]:
#split
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
print(lines)

for line in lines:
  fields = line.split(",")
  print('Name:',fields[0],'Age:',fields[1],'Occupatoin:',fields[2])

['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']
Name: John Age: 30 Occupatoin: Engineer
Name: Alice Age: 25 Occupatoin: Designer
Name: Bob Age: 22 Occupatoin: Artist

In [7]:
#join
words = ['Hello','world','this','is','a','test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [20]:
# split example
a = 'Geeks for Geeks'
b = a.split(" ")
print(b)

#join example
c = ['Geeks','for','Geeks']
d = '-'.join(c)
print(d)

['Geeks', 'for', 'Geeks']
Geeks-for-Geeks

In [21]:
input_words = input('문장을 써넣으라.:')
print(input_words.split(' '))

문장을 써넣으라.:geeks for geeks
['geeks', 'for', 'geeks']

In [30]:
# list comprehension
squares = [x ** 2 for x in range(5)]
print(squares)

squares2 = [x ** 2 for x in range(5) if x%2==0]
print(squares2)

#squares3 = [x ** 2 for x in range(5) if x%2==1]
#print(squares3)
#[1, 9]

squares4 = [(x+1)**2 for x in range(20) if (x+1)%3==0]
print(squares4)

[0, 1, 4, 9, 16]
[0, 4, 16]
[9, 36, 81, 144, 225, 324]

In [36]:
#Lab
numbers = [1,2,3,4,5]
square_numbers = [i**2 for i in numbers]
print(square_numbers)

cities = ['Seoul','New York','London','Shanghai','Paris','Tokyo']
cities_s = [i for i in cities if 'S' in i]
print(cities_s)

[1, 4, 9, 16, 25]
['Seoul', 'Shanghai']

In [48]:
# enumerate
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)
for index, fruit in enumerate(fruits):
  print(index+1, fruit)

0 apple
1 banana
2 cherry
1 apple
2 banana
3 cherry

In [54]:
#Lab
a = input('과일 이름을 쓰시오.:')
b = input('다른 과일 이름을 쓰시오:')
c = input('또다른 과일 이름을 쓰시오:')
fruits = [a,b,c]
for index, fruit in enumerate(fruits):
  print('fruit',index,' name is',' ',fruit,sep='')

과일 이름을 쓰시오.:apple
다른 과일 이름을 쓰시오:pear
또다른 과일 이름을 쓰시오:dragon fruit
fruit0 name is apple
fruit1 name is pear
fruit2 name is dragon fruit

In [66]:
fruits = ['a','b','c']
for i in range(len(fruits)):
  print('fruit',i,' name is ',fruits[i], sep='')

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [65]:
#zip
names = ['John','Jane','Doe']
ages = [25,30,35]

for name, age in zip(names,ages):
  print(f'{name} is {age} years old')

John is 25 years old
Jane is 30 years old
Doe is 35 years old

In [71]:
#zip
keys = ['a','b','c']
values = [1,2,3]
for keys, values in zip(keys,values):
  print(f'{keys},{values}')

a,1
b,2
c,3

In [93]:
#Lab
name = ['M','N','S','A']
roll_no = [4,1,3,2]
print('{',end='')
for name, roll_no in zip(name, roll_no):
  print(f'({name},{roll_no})',end='')
print('}')

names = ['M','R','C']
ages = [24,50,18]
i = 0
for names, ages in zip(names,ages):
  print(f'{i} {names} {ages}')
  i += 1

{(M,4)(N,1)(S,3)(A,2)}
0 M 24
1 R 50
2 C 18

In [96]:
# lambda
double = lambda x: x * 2
print(double(5))

a = int(input('수 a를 쓰시오:'))
print('2a =',double(a))

10
수 a를 쓰시오:3333
2a = 6666

In [97]:
# map
numbers = [1,2,3,4]
squared = list(map(lambda x: x*2, numbers))
print(squared)

[2, 4, 6, 8]