<a href="https://colab.research.google.com/github/jkm42/aipython/blob/main/240103.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = 10

if a > 5:
  print("a는 5보다 크다.")
print("end")

a는 5보다 크다.
end

In [4]:
a = 2

if a > 5:
  print("a는 5보다 크다.")
print("end")

end

In [5]:
a = 5

if a > 5:
  print("a는 5보다 크다.")
  print("end")

In [22]:
a = int(input("정수 a를 입력하라.:"))

if a > 5:
  print("a는 5보다 크다.")
elif a < 5:
  print("a는 5보다 작다.")
else:
  print("a=5")

정수 a를 입력하라.:55
a는 5보다 크다.

In [20]:
"gender = "M"
if gender == 'M':
  print("남성입니다.")
else:
  print("여성입니다.")

남성입니다.

In [36]:
a = float(input("0~100까지의 점수를 입력하시오.:"))
if a>=60 and a<=100:
  print("A")
elif a>=30:
  print("B")
elif a>=10:
  print("C")
else:
  print("F")

0~100까지의 점수를 입력하시오.:90
A

In [37]:
a = 10
b = 5

if a > 5:
  if b < 10:
    print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [38]:
a = 10
b = 5

if a > 5 and b < 10:
    print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [43]:
a = [1,2,3,4,5]
for i in a:
  print(i)
for i in a:
  print(i,end="")

1
2
3
4
5
12345

In [52]:
for i in range(1, 10, 2):
  print(i)
print("===============")
for i in range(10):
  print(i)

1
3
5
7
9
===============
0
1
2
3
4
5
6
7
8
9

In [64]:
n = int(input())
sum = 0
for i in range(n+1):
  sum = sum + i
print(sum)

3
6

In [67]:
A = int(input())
B = int(input())
C = int(input())

if A<B and B<C or C<B and B<A:
  print(B)
elif B<A and A<C or C<A and A<B:
  print(A)
else:
  print(C)

20
10
30
20

In [72]:
#함수(function)
def add(x,y):
  s = x + y
  a = s/2
  return s, a

h, a = add(10,20)
print("합:",h,"평균:",a)
print("합:",h,"평균:",int(a))

hap, avg = add(10,20)
print("합:%d 평균: %.2f"%(hap,avg))

합: 30 평균: 15.0
합: 30 평균: 15
합:30 평균: 15.00

In [ ]:
#Program 4.2 auto_repair_payroll.py
BASE_HOURS = 40
OT_MULTIPLIER = 1.5

In [76]:
#Program 4.5 grader.py
#Program 4.6 grader2.py
A_SCORE = 90
B_SCORE = 80
C_SCORE = 70
D_SCORE = 60

def main():
  score = int(input("점수를 입력하시오:"))
  if score>=A_SCORE:
    print("Your grade is A")
  elif score>=B_SCORE:
    print("Your grade is B")
  elif score>=C_SCORE:
    print("Your grade is C")
  else:
    print("Your grade is D")

main()

점수를 입력하시오:50
Your grade is D

In [77]:
#Program 5.5 simple_loop1.py
def main():
  print("I'll display the numbers 1 through 5")
  for num in [1,2,3,4,5]:
    print(num)
main()

I'll display the numbers 1 through 5
1
2
3
4
5

In [79]:
#Program 5.8 simple_loop4.py
def main():
  for x in range(5):
    print(x)
  for x in range(5):
    print("Hello World")
main()

0
1
2
3
4
Hello World
Hello World
Hello World
Hello World
Hello World

In [80]:
#Program 5.9 squares.py
# 1부터 10까지 제곱값 계산하기
def main():
  print('Number\tSquare')
  print('------------')
  for number in range(1,11):
    square = number**2
    print(number,'\t',square)

main()

Number	Square
------------
1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [1]:
#Program 5.15 rectangular_pattern.py
# for 중첩
rows = int(input('How many rows?:'))
columns = int(input('How many columns?:'))

for r in range(rows):
  for c in range(columns):
    print('*',end='')
  print() #개행을 위함

How many rows?:10
How many columns?:5
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

In [3]:
#Program 5.16 triangle_pattern.py
BASE_SIZE = 8

for r in range(BASE_SIZE):
  for c in range(r+1):
    print("*",end="")
  print()

*
**
***
****
*****
******
*******
********

In [6]:
#Program 5.16.2 triangle_pattern2.py
BASE_SIZE = 8
for r in range(BASE_SIZE):
  for c in range(BASE_SIZE-r):
    print("*",end="")
  print()

********
*******
******
*****
****
***
**
*