In [ ]:
#변수 선언 및 초기화
number = 10

#변수 값 변경
number = 20

#변수를 이용한 계산
result = number * 2

#변수 값 출력
print(result)

40

In [ ]:
#나이 입력 후 출력
a = input("당신의 나이는?")
print(a, "살이군요")
print(type(a))

당신의 나이는?29
29 살이군요
<class 'str'>

In [ ]:
#나이 입력 후 내년 나이 출력
a = input("당신의 나이는?")
print(a,"살이군요")
b= int(a)
print("내년엔", b+1,"살이 되네요")

당신의 나이는?12
12 살이군요
내년엔 13 살이 되네요

In [ ]:
# 문자열 나이를 정수 나이로
a = input("당신의 나이는?")
print(a,"살이군요")
print("내년엔", int(a)+1,"살이 되네요")

당신의 나이는?1324
1324 살이군요
내년엔 1325 살이 되네요

In [ ]:
# 정수 나이를 문자열 나이로
a = int(input("당신의 나이는?"))
msg = str(a) + "살이군요"
print(msg)
print("내년엔",a+1,"살이 되네요")

당신의 나이는?51232
51232살이군요
내년엔 51233 살이 되네요

In [ ]:
# 출력, 서식 문자열
a = "파이썬"
print(a,"아 반가워")
msg = a + "아 반가워"
print(msg)

파이썬 아 반가워
파이썬아 반가워

In [ ]:
# 출력, 형식 지정자(대입)
# %s 문자열 출력
a = "파이썬"
print("%s아 반가워"%a)

# %f
a = 123.456
print("%3.1f" %a)

파이썬아 반가워
123.5

In [ ]:
# 출력, format
print("오늘은 {}월 {}일입니다".format(6,26))

오늘은 6월 26일입니다

In [ ]:
name = '홍길동'
age = 20.5
#이름은        홍길동이고 나이는 20.50입니다.
# use format()
print("이름은 {:>10s}이고 나이는 {:.2f}입니다.".format(name,age))

이름은        홍길동이고 나이는 20.50입니다.

In [ ]:
#Program 2.6
#variable_demo1.py
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 수업하는 실습실:')
print(Lab)

우리가 수업하는 실습실:
105

In [ ]:
#Program 2.7
#variable_demo2.py
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 수업하는 실습실:')
print(Lab)

우리가 수업하는 실습실:
105

In [57]:
#Program 2.8
# variable_demo3.py
#변수 두 개를 생성하고 값을 할당
my_id = 201500011
grade = 3
# 두 변수에 할당된 값을 출력
print("나의 학번:")
print(my_id)
print("나의 학년:")
print(grade)

나의 학번:
201500011
나의 학년:
3

In [58]:
# Program 2.9
# variable_demo4.py
# 변수에 값을 할당하고 출력
# dollars 변수에 값을 할당
dollars = 2.75
print('I have', dollars, 'in my account.')
#dollars에 새 값 할당
dollars = 333.33
print('I have', dollars, 'in my account.')

I have 2.75 in my account.
I have 333.33 in my account.

In [59]:
# Program 2.10
# string_variable.py
# 두 개의 변수 생성 후 문자열 할당
department = "국어국문학과"
name = '홍길동'
#문자열 값 출력
print(department, name)

국어국문학과 홍길동

In [62]:
#Program 2.11
#string_input.py
department = input('학과명:')
name = input('이름:')
print('안녕하세요? 저는', department, name, '입니다.')

학과명:수학과
이름:민준규
안녕하세요? 저는 수학과 민준규 입니다.

In [64]:
#Program 2.12 input.py
name = input('당신의 이름은 무엇입니까?')
age = input('당신의 나이는 얼마입니까?')
attending_time = float(input('당신의 통학시간은 몇 시간입니까?'))
print('이름:',name)
print('나이:',age)
print('통학시간:',attending_time)

당신의 이름은 무엇입니까?홍길
당신의 나이는 얼마입니까?223
당신의 통학시간은 몇 시간입니까?2.1
이름: 홍길
나이: 223
통학시간: 2.1

In [65]:
# Program 2.13 simple_math.py
# salary: 급여
salary = 2500.00
# bonus: 보너스
bonus = 1200.00
#총 급여(pay) 구하기
pay = salary + bonus
print('총 급여:',pay)

총 급여: 3700.0

In [68]:
#Program 2.14 sale_price.py
#원가에 할인율을 적용해 할인가격 계산하기
original_price = float(input('제품의 원가를 입력하세요:'))
discount = original_price * 0.2
sale_price = original_price - discount
print('할인 가격:', sale_price)

제품의 원가를 입력하세요:100
할인 가격: 80.0

In [69]:
#Program 2.15 test_score_average.py
#세 과목의 평가 점수를 입력하고 test1, test2, test3 변수에 각각 할당 후, 평균을 계산해 average 변수에 할당한다.
test1 = float(input('첫 번째 과목 점수:'))
test2 = float(input('두 번째 과목 점수:'))
test3 = float(input('세 번째 과목 점수:'))
average = (test1 + test2 + test3)/3.0
print('세 과목의 평균 점수:',average)

첫 번째 과목 점수:200
두 번째 과목 점수:251
세 번째 과목 점수:222
세 과목의 평균 점수: 224.33333333333334

In [73]:
#Program 2.16 time_converter.py
#초를 입력받아 시, 분, 초로 변환하기
total_seconds = float(input('시간 값을 초단위로 입력하라:'))
hours = total_seconds//3600
minutes = (total_seconds//60)%60
seconds = total_seconds % 60
print('시, 분, 초는 다음과 같다,')
print('시:',hours)
print('분:',minutes)
print('초:',seconds)

시간 값을 초단위로 입력하라:3665
시, 분, 초는 다음과 같다,
시: 1.0
분: 1.0
초: 5.0

In [74]:
#Program 2.17 future_value.py
#목표액을 특정 이율로 얻고자 할 경우 매년 적립해야할 금액 계산하기
future_value = float((input('목표 금액:')))
rate = float(input('연간 이율:'))
years = int(input('저축 기간(연단위):'))
present_value = future_value / (1.0 + rate)**years
print("적립 금액:",present_value)

목표 금액:10000.0
연간 이율:0.05
저축 기간(연단위):10
적립 금액: 6139.132535407592

In [76]:
#Program 2.18 separator.py
#자동적으로 분리되는 빈 칸을 sep 옵션으로 제어
print('a', 'b', 'c')
print('a', 'b', 'c',sep='')
print('a','b','c',sep='***')

a b c
abc
a***b***c

In [77]:
#Program 2.19 end.py
#커서 줄바꿈을 시키지 않고 바로 옆에 놓고 여러 print() 함수 내용 나타내기
#end 옵션
print('a')
print('b')
print('c',end='')
print('d',end='')
print('e',end='****')
print('f')

a
b
cde****f

In [78]:
#Program 2.20 no_formatting.py
#부동 소수점이 출력되는 연산 수행
# 소수점 길이를 제어하지 않고 결과값을 출력한다
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print('월급여:', monthly_payment)

월급여: 416.6666666666667

In [80]:
#Program 2.21 formatting.py
#소수점 길이를 제어하여 출력하기
amount_due = 5000.0
monthly_payment = amount_due / 12
print('월급여:', format(monthly_payment, '.2f'))

월급여: 416.67

In [81]:
#Program 2.22 dollar_display.py
monthly_pay = 5000.0
annual_pay = monthly_pay *12
print('Your annual pay is $',format(annual_pay, '.2f'),sep='')

Your annual pay is $60000.00

In [82]:
#Program 2.23 columns.py
#부동 소수점을 특정 너비에 맞추어 출력하기
num1 = 127.899
num2 = 3465.138
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999

print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3465.14
   3.78
 264.82
  88.08
 800.00