In [2]:
#while
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
i = 10
while i>=1:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

In [8]:
# continue, break
for i in range(5):
  if i%2 == 1:
    continue
  print(i)
print('===========')
for i in range(5):
  if i%2 == 1:
    break
  print(i)

0
2
4
===========
0

In [13]:
a=1
while(a<=3): # while a <= 3 or while a < 4
  print('안녕',a)
  a += 1 # a = a + 1

안녕 1
안녕 2
안녕 3

In [27]:
i = 1
j = 3
while i<=4:
  print(i,"Welcome")
  for k in range(j):
    print(k+1,"Hello")
  i += 1
print("Done")

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [37]:
i = 1
while i<=4:
  print(i,"Welcome")
  for j in range(3):
    print(j+1,"Hello")
  i += 1
print("Done")

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [36]:
A,B,C=map(int,input().split())
if B<A and A<C or C<A and A<B:
  print(A)
elif A<B and B<C or C<B and B<A:
  print(B)
else:
  print(C)

1 203 20000
203

In [40]:
#list
A,B,C=map(int,input().split())
nums=[A,B,C]
print(nums[1])

201 111 555
111

In [44]:
# list, tuple
nums=[1,2,3] #list
num=(1,2,3) #tuple

nums[1]=0
print(nums)

#num[1]=0 cannot
print(num)

[1, 0, 3]
(1, 2, 3)

In [45]:
x=[10,20,30,40]
print(x)
print(x[0],x[3])
print(x[1:3])

[10, 20, 30, 40]
10 40
[20, 30]

In [55]:
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]
for r in range(3):
  for c in range(4):
    print(score[r][c], end=" ")
  print()

print('-----------')

# use len function
for r in range(len(score)):
  for c in range(len(score[r])):
    print(score[r][c], end=" ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30
-----------
29 28 27 30
30 20 27 29
23 25 29 30

In [57]:
#tuple
days_of_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
print(days_of_week)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [61]:
#dictionary
nicknames = {'Jack':'Jackass', 'Dave':'Mental', 'Patrick':'Ick'} # key : value
print(nicknames['Jack'])
for n in nicknames:
  print(n, nicknames[n])

Jackass
Jack Jackass
Dave Mental
Patrick Ick

In [74]:
#과제
score1 = int(input('학생의 점수를 입력하세요.'))
score2 = int(input('학생의 점수를 입력하세요.'))
score3 = int(input('학생의 점수를 입력하세요.'))
score_list = [score1, score2, score3]

#def score(a,b,c):
#  s = a+b+c
#  n = len(score_list)
#  m = s/n
#  return s,n,m
#score(score1,score2,score3)
print('입력 데이터 출력:',score_list)
print('합계:',sum(score_list))
print('인원수:',len(score_list))
print('평균:',sum(score_list)/len(score_list))

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
입력 데이터 출력: [90, 70, 30]
합계: 190
인원수: 3
평균: 63.333333333333336